.form {
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

input {
  padding: 0.9em 0.2em;
}

.input select {
  padding: 0.7em 1.7em;
}

.input button {
  padding: 0.9em 1.9em;
}

@media (max-width: 990px) {
  .form {
    margin: 0;
  }
}
