.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 0 9em;
}

.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

input {
  width: 55%;
  padding: 0.7em;
}

.input select {
  padding: 0.7em 1.7em;
}

.input button {
  padding: 0.6em 1.7em;
}

@media (max-width: 990px) {
  .form {
    margin: 0;
  }
}
