.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.5em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
}

.nav h1 {
  font-size: 1.6rem;
  font-weight: 900;
  font-family: 'Montserrat', serif;
  color: #0290ff;
}

.nav ul {
  display: flex;
  gap: 1.2rem;
  font-size: 1em;
  align-items: center;
}

.nav ul:active {
  color: black;
}

.nav ul:hover {
  color: black;
}

.header span {
  border-radius: 50%;
  border: 1px solid #c4bfbf;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: #0290ff;
}

@media (max-width: 790px) {
  .header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.5em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .nav {
    display: flex;
    list-style: none;
    gap: 0.2rem;
    width: 100%;
    align-items: center;
  }

  .nav h1 {
    font-size: 0.9rem;
    font-weight: 900;
    font-family: 'Montserrat', serif;
    color: #0290ff;
  }
}
